#**
 * @author <a href="kayvanfar.sj@gmail.com">Saeed Kayvanfar</a> on 5/20/2106.
 *#
 #parse("vmComponents/packageName.vm")

 import ir.sk.jcg.lib.jcglibspringmvchandler.web.securityFilter.impl.*;
 import ir.sk.jcg.lib.jcglibspringmvchandler.web.securityFilter.StringTrimConverter;

 import org.hibernate.SessionFactory;
 import org.springframework.beans.factory.annotation.Autowired;
 import org.springframework.context.annotation.Bean;
 import org.springframework.context.annotation.ComponentScan;
 import org.springframework.context.annotation.Configuration;
 import org.springframework.context.annotation.EnableAspectJAutoProxy;
 import org.springframework.orm.hibernate4.support.OpenSessionInViewInterceptor;
 import org.springframework.web.servlet.config.annotation.EnableWebMvc;
 import org.springframework.web.servlet.config.annotation.InterceptorRegistry;
 import org.springframework.web.servlet.config.annotation.ResourceHandlerRegistry;
 import org.springframework.web.servlet.config.annotation.WebMvcConfigurerAdapter;
 import org.springframework.web.servlet.view.InternalResourceViewResolver;
 import org.springframework.web.servlet.view.tiles3.TilesConfigurer;
 import org.springframework.web.servlet.view.tiles3.TilesView;
 import org.springframework.web.servlet.view.tiles3.TilesViewResolver;

 import java.io.File;
 import java.util.ArrayList;
 import java.util.List;

 #parse("vmComponents/import.vm")

 /**
  * @author <a href="kayvanfar.sj@gmail.com">Saeed Kayvanfar</a> on 3/12/2016.
  */
 @Configuration
 @ComponentScan(basePackages = "${basePackage}")
 @EnableWebMvc
 public class WebConfig extends WebMvcConfigurerAdapter {

 //    @Bean
 //    public InternalResourceViewResolver viewResolver() {
 //
 //        InternalResourceViewResolver resolver = new InternalResourceViewResolver();
 //        resolver.setPrefix("/WEB-INF/view/");
 //        resolver.setSuffix(".jsp");
 //        return resolver;
 //    }

     @Bean
     public TilesViewResolver viewResolver(){
         TilesViewResolver viewResolver = new TilesViewResolver();
         return viewResolver;
     }

     @Bean
     TilesConfigurer tilesConfigurer(){
         TilesConfigurer tilesConfigurer = new TilesConfigurer();
         tilesConfigurer.setDefinitions("/tiles/definition/base-layout-tile-definition.xml","/tiles/definition/base-pages-tile-definition.xml","/WEB-INF/tiles/definition/tile-definition.xml");
         tilesConfigurer.setPreparerFactoryClass(org.springframework.web.servlet.view.tiles3.SpringBeanPreparerFactory.class);
         return tilesConfigurer;
     }

     @Override
     public void addResourceHandlers(ResourceHandlerRegistry registry) {
         registry.addResourceHandler("/resources/**").addResourceLocations("/resources/");
     }

    @Override
    public void addFormatters(FormatterRegistry registry) {
        registry.addConverter(new HashedLongConverter());
        registry.addConverter(new HashedStringConverter());
        registry.addConverter(new StringTrimConverter());
    }

     @Autowired
     SessionFactory sessionFactory;

 //    @Override
 //    public void addInterceptors(InterceptorRegistry registry) {
 //       // registry.addInterceptor(new AuthenticateInterceptor());
 //        OpenSessionInViewInterceptor openSessionInViewInterceptor = new OpenSessionInViewInterceptor();
 //        openSessionInViewInterceptor.setSessionFactory(sessionFactory);
 //        registry.addWebRequestInterceptor(openSessionInViewInterceptor);
 //    }

 }
