#**
 * @author <a href="kayvanfar.sj@gmail.com">Saeed Kayvanfar</a> on 9/16/2107.
 *#
#set($entityName = ${view.targetEntity.name}) ## name
#set($lowerCaseEntityName = ${entityName.substring(0, 1).toLowerCase()}+${entityName.substring(1)})   ## lowerCase of entity name
#set($lowerCaseViewFileName = ${view.viewFileName.substring(0, 1).toLowerCase()}+${view.viewFileName.substring(1)})   ## lowerCase of view file name
<definition name="${lowerCaseEntityName}/${lowerCaseViewFileName}" extends="baseLayout">
    <put-attribute name="title" value="${view.name}" />
    <put-attribute name="top" value="/WEB-INF/tiles/template/home/top.jsp"/>
    <put-attribute name="heading" value="Welcome to Test" />
    <put-attribute name="tagline" value="The amazing Test Forum" />
    <put-attribute name="content" value="/WEB-INF/views/${lowerCaseEntityName}/${view.viewFileName}.jsp" />
</definition>