#**
 * @author <a href="kayvanfar.sj@gmail.com">Saeed Kayvanfar</a> on 9/23/2107.
 *#
#set($entityName = ${view.targetEntity.name}) ## name
#set($lowerCaseEntityName = ${entityName.substring(0, 1).toLowerCase()}+${entityName.substring(1)})   ## lowerCase of entity name
#set($lowerCaseViewFileName = ${view.viewFileName.substring(0, 1).toLowerCase()}+${view.viewFileName.substring(1)})   ## lowerCase of view file name
@RequestMapping("/${lowerCaseViewFileName}/display")
public String ${lowerCaseViewFileName}ById(Model model, @RequestParam HashedLong ${lowerCaseEntityName}Id) throws PersistenceException {
    model.addAttribute("${${lowerCaseEntityName}}", ${lowerCaseEntityName}Service.getByOutputClass("id", id.getValue(), new ${dataPackage}.${view.viewFileName}Data())); ## todo "Data" better be dynamic like userData as SearchView
    return "${lowerCaseEntityName}/${lowerCaseViewFileName}";
}