#**
 * @author <a href="kayvanfar.sj@gmail.com">Saeed Kayvanfar</a> on 09/09/2107.
 *#

#parse("vmComponents/packageName.vm")

import ir.sk.jcg.jcglibcommon.web.SearchData;
import ir.sk.jcg.jcglibcommon.web.SearchParam;
import ir.sk.jcg.lib.jcglibspringmvchandler.web.component.HashedLongSuggestionData;

import javax.validation.*;
import javax.validation.constraints.*;


import java.util.*;

#parse("vmComponents/import.vm")
public class ${view.viewFileName}SearchData extends SearchData<${view.targetEntity.id.type}> {

    #idName($view.targetEntity.id)

    #set($components = ${view.components})
    #dataPropertiesName($components)

    public ${view.viewFileName}SearchData() {
    }

    public ${view.viewFileName}SearchData(int pageSize) {
        super(pageSize);
    }

    #idGetterAndSetter($view.targetEntity.id)

    #dataPropertiesGetterAndSetter($components)
}