#**
 * @author <a href="kayvanfar.sj@gmail.com">Saeed Kayvanfar</a> on 6/4/2106.
 *#
#parse("vmComponents/packageName.vm")

import org.springframework.stereotype.Repository;

#parse("vmComponents/import.vm")

#set($capitalizeType = ${entity.id.type.substring(0, 1).toUpperCase()}+${entity.id.type.substring(1)})   ## capitalize entity.id.type
/**
* @author <a href="kayvanfar.sj@gmail.com">Saeed Kayvanfar</a>
*/
@Repository
public class Hibernate${entity.name}DAO extends HibernateGenericDAO<${entity.name}, ${capitalizeType}> implements ${entity.name}DAO {

 public Hibernate${entity.name}DAO() {
     super(${entity.name}.class);
 }
}