#**
 * @author <a href="kayvanfar.sj@gmail.com">Saeed Kayvanfar</a> on 5/27/2106.
 *#
#parse("vmComponents/packageName.vm")

import java.io.Serializable;

import java.util.*;

import javax.persistence.*;

import ir.sk.jcg.lib.jcglibhibernatehandler.entity.GenericEntity;

#parse("vmComponents/import.vm")

@Entity
@Table(name = "${entity.tableName}", schema = "", catalog = "${databaseSchemaName}")
public class ${entity.name} extends GenericEntity<Long> implements Serializable {

    /* GENERATED CODE SECTION TYPE(Property) ENABLED START */
    #idName($entity.id)

    #set($properties = ${entity.properties})
    #propertiesNameEntity($properties)

    #set($relationships = ${entity.relationships})
    #relationshipsNameEntity($relationships)
    /* GENERATED CODE END */

    /* GENERATED CODE SECTION TYPE(GetterSetter) ENABLED START */
    #idGetterAndSetterEntity($entity.id);

    #propertiesGetterAndSetterEntity($properties)

    #relationshipsGetterAndSetterEntity($relationships)
    /* GENERATED CODE END */
}