#**
 * @author <a href="kayvanfar.sj@gmail.com">Saeed Kayvanfar</a> on 5/27/2106.
 *#
#parse("vmComponents/packageName.vm")

import java.io.Serializable;

import java.util.*;

import javax.persistence.*;

#parse("vmComponents/import.vm")

@Entity
@Table(name = "${entity.tableName}", schema = "", catalog = "${databaseSchemaName}")
public class ${entity.name} implements Serializable {

    #idName($entity.id)

    #set($properties = ${entity.properties})
    #propertiesName($properties)

    #set($relationships = ${entity.relationships})
    #relationshipsName($relationships)

    #idGetterAndSetter($entity.id);

    #propertiesGetterAndSetter($properties)

    #relationshipsGetterAndSetter($relationships)

}