#**
 * @author <a href="kayvanfar.sj@gmail.com">Saeed Kayvanfar</a> on 5/24/2106.
 *#
package ${packagePrefix}.commons.persistence;

/**
 * @author <a href="kayvanfar.sj@gmail.com">Saeed Kayvanfar</a> 1/8/2016
 */

public enum SortOrder {
    Ascending, Descending
}