#**
 * @author <a href="kayvanfar.sj@gmail.com">Saeed Kayvanfar</a> on 5/24/2106.
 *#
package ${packagePrefix}.commons.persistence;

import java.util.List;

/**
 * @author <a href="kayvanfar.sj@gmail.com">Saeed Kayvanfar</a> 1/8/2016
 */

public class SortableDataList<T> {

    private List<T> data;

    protected SortableDataList() {
    }

    public SortableDataList(List<T> data) {
        this.data = data;
    }

    public List<T> getData() {
        return data;
    }

    protected void update(List<T> data) {
        this.data = data;
    }

    public List<T> load(String sortField, SortOrder sortOrder) {
        throw new UnsupportedOperationException(
                "Lazy loading is not implemented.");
    }

}
