#**
 * @author <a href="kayvanfar.sj@gmail.com">Saeed Kayvanfar</a> on 7/9/2106.
 *#

<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE tiles-definitions PUBLIC "-//Apache Software Foundation//DTD Tiles Configuration 3.0//EN"
	"http://tiles.apache.org/dtds/tiles-config_3_0.dtd">

<tiles-definitions>

	<definition name="baseLayout" template="/WEB-INF/tiles/template/baseLayout.jsp">
		<put-attribute name="title" value="Sample Title" />
		<put-attribute name="angular" value="" />
		<put-attribute name="heading" value="" />
		<put-attribute name="tagline" value="" />
		<put-attribute name="logout" value="/WEB-INF/tiles/template/logout.jsp" />
		<put-attribute name="navigation" value="/WEB-INF/tiles/template/navigation.jsp" />
		<put-attribute name="content" value="" />
		<put-attribute name="footer" value="/WEB-INF/tiles/template/footer.jsp" />
	</definition>

	<definition name="checkoutLayout" template="/WEB-INF/tiles/template/checkoutLayout.jsp">
		<put-attribute name="title" value="Sample Title" />
		<put-attribute name="heading" value="" />
		<put-attribute name="tagline" value="" />
		<put-attribute name="logout" value="" />
		<put-attribute name="content" value="" />
	</definition>

	<definition name="foundationLayout" template="/WEB-INF/tiles/template/foundationLayput.jsp">
		<put-attribute name="title" value="Sample Title" />
		<put-attribute name="content" value="" />
	</definition>

</tiles-definitions>