#**
 * @author <a href="kayvanfar.sj@gmail.com">Saeed Kayvanfar</a> on 7/9/2106.
 *#

<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE tiles-definitions PUBLIC "-//Apache Software Foundation//DTD Tiles Configuration 3.0//EN"
	"http://tiles.apache.org/dtds/tiles-config_3_0.dtd">

<tiles-definitions>

	<definition name="welcome" extends="baseLayout">
		<put-attribute name="title" value="Welcome" />
		<put-attribute name="heading" value="Welcome to Web Store!" />
		<put-attribute name="tagline" value="The one and only amazing webstore" />
		<put-attribute name="content" value="Welcome to JCG!" />
	</definition>

</tiles-definitions>