#**
 * @author <a href="kayvanfar.sj@gmail.com">Saeed Kayvanfar</a> on 7/9/2106.
 *#

<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE tiles-definitions PUBLIC "-//Apache Software Foundation//DTD Tiles Configuration 3.0//EN"
	"http://tiles.apache.org/dtds/tiles-config_3_0.dtd">

<tiles-definitions>

	<definition name="welcome" extends="baseLayout">
		<put-attribute name="title" value="Welcome" />
		<put-attribute name="heading" value="Welcome to Web Store!" />
		<put-attribute name="tagline" value="The one and only amazing webstore" />
		<put-attribute name="content" value="/WEB-INF/views/welcome.jsp" />
	</definition>

	<definition name="products" extends="baseLayout">
		<put-attribute name="title" value="Products" />
		<put-attribute name="heading" value="Products" />
		<put-attribute name="tagline" value="Available Products" />
		<put-attribute name="content" value="/WEB-INF/views/products.jsp" />
	</definition>

	<definition name="product" extends="baseLayout">
		<put-attribute name="title" value="Product" />
		<put-attribute name="angular" value="/WEB-INF/tiles/template/angular.jsp" />
		<put-attribute name="heading" value="Products" />
		<put-attribute name="tagline" value="Product" />
		<put-attribute name="content" value="/WEB-INF/views/product.jsp" />
	</definition>

	<definition name="addProduct" extends="baseLayout">
		<put-attribute name="title" value="Products" />
		<put-attribute name="heading" value="Products" />
		<put-attribute name="tagline" value="Product" />
		<put-attribute name="content" value="/WEB-INF/views/addProduct.jsp" />
	</definition>

	<definition name="login" extends="baseLayout">
		<put-attribute name="title" value="Login" />
		<put-attribute name="heading" value="Login" />
		<put-attribute name="tagline" value="Enter your Credentials" />
		<put-attribute name="content" value="/WEB-INF/views/login.jsp" />
	</definition>

	<definition name="cart" extends="baseLayout">
		<put-attribute name="title" value="Shpping Cart" />
		<put-attribute name="angular" value="/WEB-INF/tiles/template/angular.jsp" />
		<put-attribute name="heading" value="Cart" />
		<put-attribute name="tagline" value="your shopping cart" />
		<put-attribute name="content" value="/WEB-INF/views/cart.jsp" />
	</definition>

	<definition name="collectCustomerInfo" extends="checkoutLayout">
		<put-attribute name="title" value="Customer" />
		<put-attribute name="heading" value="Customer Details" />
		<put-attribute name="tagline" value="Customer Details" />
		<put-attribute name="content" value="/WEB-INF/flows/checkout/collectCustomerInfo.jsp" />
	</definition>

	<definition name="collectShippingDetail" extends="checkoutLayout">
		<put-attribute name="title" value="Shipping Details" />
		<put-attribute name="heading" value="Shipping" />
		<put-attribute name="tagline" value="Shipping Details" />
		<put-attribute name="content" value="/WEB-INF/flows/checkout/collectShippingDetail.jsp" />
	</definition>

	<definition name="orderConfirmation" extends="checkoutLayout">
		<put-attribute name="title" value="Order Confirmation" />
		<put-attribute name="heading" value="Order" />
		<put-attribute name="tagline" value="Order Confirmation" />
		<put-attribute name="content" value="/WEB-INF/flows/checkout/orderConfirmation.jsp" />
	</definition>

	<definition name="InvalidCartWarning" extends="checkoutLayout">
		<put-attribute name="title" value="Invalid Cart" />
		<put-attribute name="heading" value="Invalid" />
		<put-attribute name="tagline" value="Invalid Cart" />
		<put-attribute name="content" value="/WEB-INF/flows/checkout/InvalidCartWarning.jsp" />
	</definition>

	<definition name="thankCustomer" extends="checkoutLayout">
		<put-attribute name="title" value="Thank you" />
		<put-attribute name="heading" value="Thank you" />
		<put-attribute name="tagline" value="Thank you" />
		<put-attribute name="content" value="/WEB-INF/flows/checkout/thankCustomer.jsp" />
	</definition>

	<definition name="tags" extends="foundationLayout">
		<put-attribute name="title" value="Thank you" />
		<put-attribute name="content" value="/WEB-INF/views/tagtest/tags.jsp" />
	</definition>

	<definition name="addUser" extends="baseLayout">
		<put-attribute name="title" value="User" />
		<put-attribute name="heading" value="User" />
		<put-attribute name="tagline" value="Add User" />
		<put-attribute name="content" value="/WEB-INF/views/security/user/add.jsp" />
	</definition>

	<definition name="listUsers" extends="baseLayout">
		<put-attribute name="title" value="Users" />
		<put-attribute name="heading" value="Users" />
		<put-attribute name="tagline" value="List of Users" />
		<put-attribute name="content" value="/WEB-INF/views/security/user/list.jsp" />
	</definition>

	<definition name="easyUI/listUsers" extends="baseLayout">
		<put-attribute name="title" value="Basic CRUD Application - jQuery EasyUI CRUD Demo" />
		<put-attribute name="heading" value="Users" />
		<put-attribute name="tagline" value="List of Users" />
		<put-attribute name="content" value="/WEB-INF/views/easyUI/easyUI.jsp" />
	</definition>

	<definition name="accessibility" extends="baseLayout">
		<put-attribute name="title" value="Accessibility" />
		<put-attribute name="heading" value="Accessibility" />
		<put-attribute name="tagline" value="Accessibility" />
		<put-attribute name="content" value="/WEB-INF/views/security/accessibility.jsp" />
	</definition>

</tiles-definitions>