@font-face {
	font-family: 'icomoon';
	src:url('../fonts/foundation/icomoon.eot?g64xqk');
	src:url('../fonts/foundation/icomoon.eot?#iefixg64xqk') format('embedded-opentype'),
		url('../fonts/foundation/icomoon.woff?g64xqk') format('woff'),
		url('../fonts/foundation/icomoon.ttf?g64xqk') format('truetype'),
		url('../fonts/foundation/icomoon.svg?g64xqk#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-alarm:before {
	content: "\e600";
}
.icon-alt:before {
	content: "\e601";
}
.icon-android:before {
	content: "\e602";
}
.icon-apple:before {
	content: "\e603";
}
.icon-appstore:before {
	content: "\e604";
}
.icon-arrow_1:before {
	content: "\e605";
}
.icon-arrow_2:before {
	content: "\e606";
}
.icon-arrow_down:before {
	content: "\e607";
}
.icon-arrow_left:before {
	content: "\e608";
}
.icon-arrow_right:before {
	content: "\e609";
}
.icon-arrow_up:before {
	content: "\e60a";
}
.icon-arrows:before {
	content: "\e60b";
}
.icon-arrows_horizontal:before {
	content: "\e60c";
}
.icon-arrows_horizontal_2:before {
	content: "\e60d";
}
.icon-arrows_vertical:before {
	content: "\e60e";
}
.icon-arrows_vertical_2:before {
	content: "\e60f";
}
.icon-bar_chart_1:before {
	content: "\e610";
}
.icon-bar_chart_2:before {
	content: "\e611";
}
.icon-bar_chart_3:before {
	content: "\e612";
}
.icon-bar_graph:before {
	content: "\e613";
}
.icon-basket:before {
	content: "\e614";
}
.icon-basket_add:before {
	content: "\e615";
}
.icon-basket_delete:before {
	content: "\e616";
}
.icon-basket_ok:before {
	content: "\e617";
}
.icon-basket_remove:before {
	content: "\e618";
}
.icon-battery_1_3:before {
	content: "\e619";
}
.icon-battery_2_3:before {
	content: "\e61a";
}
.icon-battery_empty:before {
	content: "\e61b";
}
.icon-battery_full:before {
	content: "\e61c";
}
.icon-behance:before {
	content: "\e61d";
}
.icon-bell:before {
	content: "\e61e";
}
.icon-bin:before {
	content: "\e61f";
}
.icon-block:before {
	content: "\e620";
}
.icon-bluetooth:before {
	content: "\e621";
}
.icon-book:before {
	content: "\e622";
}
.icon-book_1:before {
	content: "\e623";
}
.icon-book_2:before {
	content: "\e624";
}
.icon-bookmark:before {
	content: "\e625";
}
.icon-brightness_high:before {
	content: "\e626";
}
.icon-brightness_low:before {
	content: "\e627";
}
.icon-browser:before {
	content: "\e628";
}
.icon-browser_add:before {
	content: "\e629";
}
.icon-browser_delete:before {
	content: "\e62a";
}
.icon-browser_layout_1:before {
	content: "\e62b";
}
.icon-browser_layout_2:before {
	content: "\e62c";
}
.icon-browser_layout_3:before {
	content: "\e62d";
}
.icon-browser_ok:before {
	content: "\e62e";
}
.icon-browser_remove:before {
	content: "\e62f";
}
.icon-bullseye:before {
	content: "\e630";
}
.icon-calendar:before {
	content: "\e631";
}
.icon-calendar_add:before {
	content: "\e632";
}
.icon-calendar_ok:before {
	content: "\e633";
}
.icon-camera:before {
	content: "\e634";
}
.icon-cassette:before {
	content: "\e635";
}
.icon-chart:before {
	content: "\e636";
}
.icon-chart_1_2:before {
	content: "\e637";
}
.icon-chart_1_4:before {
	content: "\e638";
}
.icon-chart_1_8:before {
	content: "\e639";
}
.icon-chart_3_4:before {
	content: "\e63a";
}
.icon-chart_3_8:before {
	content: "\e63b";
}
.icon-chart_5_8:before {
	content: "\e63c";
}
.icon-chart_7_8:before {
	content: "\e63d";
}
.icon-circle:before {
	content: "\e63e";
}
.icon-circle_delete:before {
	content: "\e63f";
}
.icon-circle_down:before {
	content: "\e640";
}
.icon-circle_fast_forward:before {
	content: "\e641";
}
.icon-circle_left:before {
	content: "\e642";
}
.icon-circle_minus:before {
	content: "\e643";
}
.icon-circle_ok:before {
	content: "\e644";
}
.icon-circle_pause:before {
	content: "\e645";
}
.icon-circle_play:before {
	content: "\e646";
}
.icon-circle_plus:before {
	content: "\e647";
}
.icon-circle_rewind:before {
	content: "\e648";
}
.icon-circle_right:before {
	content: "\e649";
}
.icon-circle_skip_next:before {
	content: "\e64a";
}
.icon-circle_skip_previous:before {
	content: "\e64b";
}
.icon-circle_stop:before {
	content: "\e64c";
}
.icon-circle_up:before {
	content: "\e64d";
}
.icon-clip:before {
	content: "\e64e";
}
.icon-close:before {
	content: "\e64f";
}
.icon-cloud:before {
	content: "\e650";
}
.icon-cloud_download:before {
	content: "\e651";
}
.icon-cloud_fail:before {
	content: "\e652";
}
.icon-cloud_ok:before {
	content: "\e653";
}
.icon-cloud_upload:before {
	content: "\e654";
}
.icon-code:before {
	content: "\e655";
}
.icon-cog:before {
	content: "\e656";
}
.icon-columns:before {
	content: "\e657";
}
.icon-command:before {
	content: "\e658";
}
.icon-compass:before {
	content: "\e659";
}
.icon-computer_add:before {
	content: "\e65a";
}
.icon-computer_delete:before {
	content: "\e65b";
}
.icon-computer_download:before {
	content: "\e65c";
}
.icon-computer_ok:before {
	content: "\e65d";
}
.icon-computer_remove:before {
	content: "\e65e";
}
.icon-computer_upload:before {
	content: "\e65f";
}
.icon-copy_1:before {
	content: "\e660";
}
.icon-copy_2:before {
	content: "\e661";
}
.icon-credit_card:before {
	content: "\e662";
}
.icon-crop:before {
	content: "\e663";
}
.icon-diskette:before {
	content: "\e664";
}
.icon-document:before {
	content: "\e665";
}
.icon-document_add:before {
	content: "\e666";
}
.icon-document_delete:before {
	content: "\e667";
}
.icon-document_download:before {
	content: "\e668";
}
.icon-document_ok:before {
	content: "\e669";
}
.icon-document_remove:before {
	content: "\e66a";
}
.icon-document_upload:before {
	content: "\e66b";
}
.icon-documents:before {
	content: "\e66c";
}
.icon-download:before {
	content: "\e66d";
}
.icon-dribbble:before {
	content: "\e66e";
}
.icon-drop:before {
	content: "\e66f";
}
.icon-dropbox:before {
	content: "\e670";
}
.icon-eject:before {
	content: "\e671";
}
.icon-equalizer:before {
	content: "\e672";
}
.icon-facebook_1:before {
	content: "\e673";
}
.icon-facebook_2:before {
	content: "\e674";
}
.icon-fast_forward:before {
	content: "\e675";
}
.icon-first_aid:before {
	content: "\e676";
}
.icon-folder:before {
	content: "\e677";
}
.icon-folder_add:before {
	content: "\e678";
}
.icon-folder_delete:before {
	content: "\e679";
}
.icon-folder_ok:before {
	content: "\e67a";
}
.icon-folder_remove:before {
	content: "\e67b";
}
.icon-followers:before {
	content: "\e67c";
}
.icon-following:before {
	content: "\e67d";
}
.icon-font_size_down:before {
	content: "\e67e";
}
.icon-font_size_up:before {
	content: "\e67f";
}
.icon-forrst:before {
	content: "\e680";
}
.icon-foursquare:before {
	content: "\e681";
}
.icon-frame:before {
	content: "\e682";
}
.icon-globe:before {
	content: "\e683";
}
.icon-google_plus:before {
	content: "\e684";
}
.icon-graph_fall:before {
	content: "\e685";
}
.icon-graph_rise:before {
	content: "\e686";
}
.icon-grid_1:before {
	content: "\e687";
}
.icon-grid_2:before {
	content: "\e688";
}
.icon-hashtag:before {
	content: "\e689";
}
.icon-heart:before {
	content: "\e68a";
}
.icon-home:before {
	content: "\e68b";
}
.icon-imac:before {
	content: "\e68c";
}
.icon-image:before {
	content: "\e68d";
}
.icon-inbox:before {
	content: "\e68e";
}
.icon-inbox_in:before {
	content: "\e68f";
}
.icon-inbox_out:before {
	content: "\e690";
}
.icon-instagram:before {
	content: "\e691";
}
.icon-ipad:before {
	content: "\e692";
}
.icon-iphone:before {
	content: "\e693";
}
.icon-layers:before {
	content: "\e694";
}
.icon-line_graph:before {
	content: "\e695";
}
.icon-line_graph_square:before {
	content: "\e696";
}
.icon-link:before {
	content: "\e697";
}
.icon-linkedin:before {
	content: "\e698";
}
.icon-list:before {
	content: "\e699";
}
.icon-list_2:before {
	content: "\e69a";
}
.icon-loading:before {
	content: "\e69b";
}
.icon-location:before {
	content: "\e69c";
}
.icon-lock:before {
	content: "\e69d";
}
.icon-login:before {
	content: "\e69e";
}
.icon-logout:before {
	content: "\e69f";
}
.icon-macbook:before {
	content: "\e6a0";
}
.icon-magnifying_glass:before {
	content: "\e6a1";
}
.icon-magnifying_glass_add:before {
	content: "\e6a2";
}
.icon-magnifying_glass_remove:before {
	content: "\e6a3";
}
.icon-mail:before {
	content: "\e6a4";
}
.icon-mail_incoming:before {
	content: "\e6a5";
}
.icon-mail_outgoing:before {
	content: "\e6a6";
}
.icon-map:before {
	content: "\e6a7";
}
.icon-map_add:before {
	content: "\e6a8";
}
.icon-map_delete:before {
	content: "\e6a9";
}
.icon-map_ok:before {
	content: "\e6aa";
}
.icon-map_remove:before {
	content: "\e6ab";
}
.icon-microphone:before {
	content: "\e6ac";
}
.icon-microphone_off:before {
	content: "\e6ad";
}
.icon-microsoft:before {
	content: "\e6ae";
}
.icon-minus:before {
	content: "\e6af";
}
.icon-more:before {
	content: "\e6b0";
}
.icon-more_2:before {
	content: "\e6b1";
}
.icon-moustache:before {
	content: "\e6b2";
}
.icon-music:before {
	content: "\e6b3";
}
.icon-notepad:before {
	content: "\e6b4";
}
.icon-notepad_add:before {
	content: "\e6b5";
}
.icon-notepad_delete:before {
	content: "\e6b6";
}
.icon-notepad_ok:before {
	content: "\e6b7";
}
.icon-notepad_remove:before {
	content: "\e6b8";
}
.icon-pause:before {
	content: "\e6b9";
}
.icon-paypal:before {
	content: "\e6ba";
}
.icon-pen_1:before {
	content: "\e6bb";
}
.icon-pen_2:before {
	content: "\e6bc";
}
.icon-pen_3:before {
	content: "\e6bd";
}
.icon-picture:before {
	content: "\e6be";
}
.icon-pie_chart:before {
	content: "\e6bf";
}
.icon-pill:before {
	content: "\e6c0";
}
.icon-pin_1:before {
	content: "\e6c1";
}
.icon-pin_2:before {
	content: "\e6c2";
}
.icon-pin_zoom_in:before {
	content: "\e6c3";
}
.icon-pin_zoom_out:before {
	content: "\e6c4";
}
.icon-pinterest_1:before {
	content: "\e6c5";
}
.icon-pinterest_2:before {
	content: "\e6c6";
}
.icon-play:before {
	content: "\e6c7";
}
.icon-plug:before {
	content: "\e6c8";
}
.icon-plus:before {
	content: "\e6c9";
}
.icon-polaroid:before {
	content: "\e6ca";
}
.icon-polaroids:before {
	content: "\e6cb";
}
.icon-power:before {
	content: "\e6cc";
}
.icon-presentation:before {
	content: "\e6cd";
}
.icon-printer:before {
	content: "\e6ce";
}
.icon-progress:before {
	content: "\e6cf";
}
.icon-record:before {
	content: "\e6d0";
}
.icon-repeat:before {
	content: "\e6d1";
}
.icon-repeat_1:before {
	content: "\e6d2";
}
.icon-repeat_2:before {
	content: "\e6d3";
}
.icon-resize_1:before {
	content: "\e6d4";
}
.icon-resize_2:before {
	content: "\e6d5";
}
.icon-resize_3:before {
	content: "\e6d6";
}
.icon-resize_4:before {
	content: "\e6d7";
}
.icon-resize_5:before {
	content: "\e6d8";
}
.icon-resize_6:before {
	content: "\e6d9";
}
.icon-rewind:before {
	content: "\e6da";
}
.icon-rss:before {
	content: "\e6db";
}
.icon-screen_expand_1:before {
	content: "\e6dc";
}
.icon-screen_expand_2:before {
	content: "\e6dd";
}
.icon-screen_expand_3:before {
	content: "\e6de";
}
.icon-share:before {
	content: "\e6df";
}
.icon-share_2:before {
	content: "\e6e0";
}
.icon-shop:before {
	content: "\e6e1";
}
.icon-shopping_bag:before {
	content: "\e6e2";
}
.icon-shopping_cart:before {
	content: "\e6e3";
}
.icon-shopping_cart_add:before {
	content: "\e6e4";
}
.icon-shopping_cart_delete:before {
	content: "\e6e5";
}
.icon-shopping_cart_ok:before {
	content: "\e6e6";
}
.icon-shopping_cart_remove:before {
	content: "\e6e7";
}
.icon-shuffle:before {
	content: "\e6e8";
}
.icon-skip_next:before {
	content: "\e6e9";
}
.icon-skip_previous:before {
	content: "\e6ea";
}
.icon-skype:before {
	content: "\e6eb";
}
.icon-slideshow:before {
	content: "\e6ec";
}
.icon-speech_1:before {
	content: "\e6ed";
}
.icon-speech_2:before {
	content: "\e6ee";
}
.icon-speech_3:before {
	content: "\e6ef";
}
.icon-speech_4:before {
	content: "\e6f0";
}
.icon-speech_bubble_1:before {
	content: "\e6f1";
}
.icon-speech_bubble_2:before {
	content: "\e6f2";
}
.icon-speech_bubbles:before {
	content: "\e6f3";
}
.icon-spotify:before {
	content: "\e6f4";
}
.icon-square:before {
	content: "\e6f5";
}
.icon-square_add:before {
	content: "\e6f6";
}
.icon-square_dashed:before {
	content: "\e6f7";
}
.icon-square_delete:before {
	content: "\e6f8";
}
.icon-square_down:before {
	content: "\e6f9";
}
.icon-square_left:before {
	content: "\e6fa";
}
.icon-square_ok:before {
	content: "\e6fb";
}
.icon-square_remove:before {
	content: "\e6fc";
}
.icon-square_right:before {
	content: "\e6fd";
}
.icon-square_up:before {
	content: "\e6fe";
}
.icon-star:before {
	content: "\e6ff";
}
.icon-stop:before {
	content: "\e700";
}
.icon-suitcase:before {
	content: "\e701";
}
.icon-tag:before {
	content: "\e702";
}
.icon-tags:before {
	content: "\e703";
}
.icon-target:before {
	content: "\e704";
}
.icon-terminal:before {
	content: "\e705";
}
.icon-text_center:before {
	content: "\e706";
}
.icon-text_justify:before {
	content: "\e707";
}
.icon-text_left:before {
	content: "\e708";
}
.icon-text_right:before {
	content: "\e709";
}
.icon-tick:before {
	content: "\e70a";
}
.icon-time:before {
	content: "\e70b";
}
.icon-timer:before {
	content: "\e70c";
}
.icon-tumblr:before {
	content: "\e70d";
}
.icon-twitter:before {
	content: "\e70e";
}
.icon-unlock:before {
	content: "\e70f";
}
.icon-upload:before {
	content: "\e710";
}
.icon-user:before {
	content: "\e711";
}
.icon-user_add:before {
	content: "\e712";
}
.icon-user_circle:before {
	content: "\e713";
}
.icon-user_delete:before {
	content: "\e714";
}
.icon-user_ok:before {
	content: "\e715";
}
.icon-user_remove:before {
	content: "\e716";
}
.icon-user_square:before {
	content: "\e717";
}
.icon-users:before {
	content: "\e718";
}
.icon-view:before {
	content: "\e719";
}
.icon-view_off:before {
	content: "\e71a";
}
.icon-vimeo:before {
	content: "\e71b";
}
.icon-voicemail:before {
	content: "\e71c";
}
.icon-volume_1:before {
	content: "\e71d";
}
.icon-volume_2:before {
	content: "\e71e";
}
.icon-volume_3:before {
	content: "\e71f";
}
.icon-volume_down:before {
	content: "\e720";
}
.icon-volume_mute:before {
	content: "\e721";
}
.icon-volume_off:before {
	content: "\e722";
}
.icon-volume_up:before {
	content: "\e723";
}
.icon-warning:before {
	content: "\e724";
}
.icon-wifi_1:before {
	content: "\e725";
}
.icon-wifi_2:before {
	content: "\e726";
}
.icon-wifi_3:before {
	content: "\e727";
}
.icon-windows:before {
	content: "\e728";
}
.icon-youtube:before {
	content: "\e729";
}
.icon-zoom_in:before {
	content: "\e72a";
}
.icon-zoom_out:before {
	content: "\e72b";
}
