package $packageName;

import com.packt.webstore.domain.Menu;
import com.packt.webstore.service.MenuService;
import ir.sk.commons.persistence.PersistenceException;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.ControllerAdvice;
import org.springframework.web.bind.annotation.ModelAttribute;

import java.util.ArrayList;
import java.util.List;

/**
 * @author <a href="kayvanfar.sj@gmail.com">Saeed Kayvanfar</a> 12/13/2015
 */


public class BaseController {

    @Autowired
    MenuService menuService;

    @ModelAttribute("allMenus")
    public List<Menu> getMenus() throws PersistenceException {
        List<Menu> mainMenus = menuService.getMainMenus(true);
  //      List<Menu> filledCategories = new ArrayList<>();
//        for (Menu category : mainMenus) {
//          //  if (category.isActive() > 0) {
//          //      filledCategories.add(category);
//          //      continue;
//          //  }
//            ArtMartAccessCenter.getInstance().c().refreshChildren(category);
//            for (Category child : category.getChildren()) {
//                if (child.getCount() > 0) {
//                    filledCategories.add(category);
//                    break;
//                }
//            }
//        }
        return mainMenus;
    }
}
